<div class="container mt-4">
  <h2>Ejemplos de Bolas de Lotería (Nuevo Diseño)</h2>

  <div class="card mb-4">
    <div class="card-header">
      <h3>Euromillones</h3>
    </div>
    <div class="card-body">
      <div class="lottery-balls-container">
        <app-lottery-ball-simple [number]="1" game="euromillones"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="7" game="euromillones"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="13" game="euromillones"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="24" game="euromillones"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="35" game="euromillones"></app-lottery-ball-simple>
        <span class="lottery-balls-separator">+</span>
        <app-lottery-ball-simple [number]="2" game="euromillones" type="star"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="9" game="euromillones" type="star"></app-lottery-ball-simple>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3>Primitiva</h3>
    </div>
    <div class="card-body">
      <div class="lottery-balls-container">
        <app-lottery-ball-simple [number]="3" game="primitiva"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="11" game="primitiva"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="19" game="primitiva"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="27" game="primitiva"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="33" game="primitiva"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="42" game="primitiva"></app-lottery-ball-simple>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3>Bonoloto</h3>
    </div>
    <div class="card-body">
      <div class="lottery-balls-container">
        <app-lottery-ball-simple [number]="5" game="bonoloto"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="12" game="bonoloto"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="18" game="bonoloto"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="25" game="bonoloto"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="36" game="bonoloto"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="49" game="bonoloto"></app-lottery-ball-simple>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3>El Gordo de la Primitiva</h3>
    </div>
    <div class="card-body">
      <div class="lottery-balls-container">
        <app-lottery-ball-simple [number]="4" game="gordo"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="16" game="gordo"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="23" game="gordo"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="37" game="gordo"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="45" game="gordo"></app-lottery-ball-simple>
        <span class="lottery-balls-separator">+</span>
        <app-lottery-ball-simple [number]="8" game="gordo"></app-lottery-ball-simple>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3>EuroDreams</h3>
    </div>
    <div class="card-body">
      <div class="lottery-balls-container">
        <app-lottery-ball-simple [number]="6" game="eurodreams"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="14" game="eurodreams"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="22" game="eurodreams"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="31" game="eurodreams"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="39" game="eurodreams"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="40" game="eurodreams"></app-lottery-ball-simple>
        <span class="lottery-balls-separator">+</span>
        <app-lottery-ball-simple [number]="3" game="eurodreams" type="dream"></app-lottery-ball-simple>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3>Lotería Nacional</h3>
    </div>
    <div class="card-body">
      <div class="lottery-balls-container">
        <app-lottery-ball-simple [number]="00123" game="loteria nacional"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="45678" game="loteria nacional"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="98765" game="loteria nacional"></app-lottery-ball-simple>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3>Lototurf</h3>
    </div>
    <div class="card-body">
      <div class="lottery-balls-container">
        <app-lottery-ball-simple [number]="2" game="lototurf"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="9" game="lototurf"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="17" game="lototurf"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="26" game="lototurf"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="30" game="lototurf"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="38" game="lototurf"></app-lottery-ball-simple>
        <span class="lottery-balls-separator">+</span>
        <app-lottery-ball-simple [number]="5" game="lototurf" type="horse"></app-lottery-ball-simple>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3>Bola destacada con animación</h3>
    </div>
    <div class="card-body">
      <div class="lottery-balls-container">
        <app-lottery-ball-simple [number]="7" game="euromillones"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="14" game="euromillones"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="21" game="euromillones" [highlight]="true"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="28" game="euromillones"></app-lottery-ball-simple>
        <app-lottery-ball-simple [number]="35" game="euromillones"></app-lottery-ball-simple>
      </div>
    </div>
  </div>
</div>
