<div class="sphere-container" [ngClass]="gameClass">
  <div class="sphere">
    <div class="highlight"></div>
    <div class="circles-container">
      <!-- Círculo central -->
      <div class="circle center">
        <span>{{ number }}</span>
      </div>

      <!-- Círculos periféricos -->
      <div class="circle top">
        <span>{{ number }}</span>
      </div>
      <div class="circle right">
        <span>{{ number }}</span>
      </div>
      <div class="circle bottom">
        <span>{{ number }}</span>
      </div>
      <div class="circle left">
        <span>{{ number }}</span>
      </div>
    </div>
  </div>
</div>
