<header class="modulo-cabecera">
    <div class="logo-container">
        <img src="/assets/img/lotoIA-LOGO.jpg" alt="LotoIA Logo" class="logo">
    </div>
    <div class="juegos-container">
        <ul class="modulo-menu-juegos">
            <li *ngFor="let juego of ['euromillones', 'primitiva', 'bonoloto', 'gordoPrimitiva', 'lototurf', 'euroDreams', 'loteriaNacional']" class="item-menu-juegos {{juego}}">
                <a href="#" class="link-cabecera-juego" [title]="'JUGAR ' + juego.toUpperCase()">
                    <img class="logotipo-juego-cabecera web" [src]="getImageUrl(juego)" [alt]="juego">
                    <div class="bote-juego" *ngIf="botes[juego]">
                        <div class="valor">{{ formatearBote(botes[juego]).split('\n')[0] }}</div>
                        <div class="formato">{{ formatearBote(botes[juego]).split('\n')[1] }}</div>
                    </div>
                    <div class="bote-juego" *ngIf="!botes[juego]">Cargando...</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="user-actions">
        <button class="btn-entrar">Entrar</button>
        <button class="btn-registro">REGISTRO</button>
        <div class="idioma-selector">
            <select id="changeLanguage" name="changeLanguage">
                <option value="es" selected>Castellano</option>
                <option value="ca">Català</option>
                <option value="en">English</option>
                <option value="eu">Euskera</option>
                <option value="gl">Galego</option>
                <option value="va">Valencià</option>
            </select>
        </div>
    </div>
</header>
