<div class="page-container">
  <div class="breadcrumb">
    <a routerLink="/home"><i class="fas fa-home"></i></a>
    <span class="separator">></span>
    <a routerLink="/home" class="link">Inicio</a>
    <span class="separator">></span>
    <span class="current">Aviso Legal</span>
  </div>

  <div class="content-container">
    <h1 class="title">Aviso legal</h1>
    <p>
      El titular de este sitio web y prestador de servicios LOTO IA.COM, domiciliada en la C/ XXXX XXXX XXX, 28020 Madrid y su NIF es xxxxxxx, inscrita en el Registro Mercantil de Madrid al tomo xxxxxx, folio xxx, sección xª, hoja M- xxxxxx, inscripción 1ª_
    </p>
    <p>
      Esta información legal se completa con la <a routerLink="/uso-web">política de uso</a>, <a routerLink="/proteccion-datos">política de protección de datos</a> y <a routerLink="/gestion-cookies">política de cookies</a> de "LOTO IA.COM".
    </p>
    <p>
      LOTO IA.COM comercializa productos y servicios, para lo que cuenta con las correspondientes herramientas. LOTO IA.COM, está sometido a la supervisión de los organismos reguladores y supervisión en materia de juego.
    </p>
    <p>
      Para cualquier consulta o contacto con LOTO IA.COM, los usuarios podrán comunicarse a través de este correo electrónico "adm&#64;loto-ia.com" y a través de este <a routerLink="/contacto">Formulario de contacto</a> que ponemos a su disposición.
    </p>
    <p class="update-date">
      Última actualización: 6 de abril de 2024.
    </p>
  </div>
</div>