<div class="page-container">
  <div class="breadcrumb">
    <a routerLink="/home"><i class="fas fa-home"></i></a>
    <span class="separator">></span>
    <a routerLink="/home" class="link">Inicio</a>
    <span class="separator">></span>
    <span class="current">Accesibilidad</span>
  </div>

  <div class="content-container">
    <h1 class="title">POLÍTICA DE ACCESIBILIDAD</h1>
    <p>
      En la construcción del sitio web de "LOTO IA.COM" se han adoptado una serie de medidas con el objetivo de mejorar su accesibilidad. Esto conlleva una serie de ventajas como:
    </p>
    <ul>
      <li>Facilitar el acceso de los usuarios independientemente de su condición física o de su entorno</li>
      <li>Permitir el acceso con diferentes agentes de usuario</li>
      <li>Incluir contenidos claros bien estructurados</li>
      <li>Mejorar la navegación y la experiencia del usuario</li>
    </ul>
    <p>Entre otras se han adoptado las siguientes medidas:</p>
    <ul>
      <li>Uso de CSS para la presentación de la información</li>
      <li>Texto alternativo en las imágenes</li>
      <li>Los enlaces ofrecen detalles de la función o destino del hipervínculo</li>
      <li>Uso de los estándares del W3C</li>
      <li>Periódicamente se realizan mejoras en la web que siempre estarán orientadas a mantener o elevar el nivel de cumplimiento de estándares</li>
    </ul>
    <h2>Cumplimiento de los estándares</h2>
    <p>
      Las páginas de este sitio web se adaptan a las "Pautas de Contenido Accesible en web 1.0" del W3C, disponible en http://www.w3.org/TR/1999/WAI-WEBCONTENT-19990505, nivel A (A).
    </p>
    <p>
      Todos los requisitos de Prioridad 1 han sido comprobados con un análisis manual de la accesibilidad a través de diferentes herramientas semi-automáticas, agentes de usuario y ayudas técnicas.
    </p>
    <h2>Configuración recomendada para navegar por la web.</h2>
    <p>
      Para la mejor experiencia en el uso de este canal de relación, se recomienda al Participante el empleo de los siguientes medios técnicos:
    </p>
    <ul>
      <li>Navegador: Internet Explorer 7 o superior, Mozilla 3.0.0 o superior.</li>
      <li>Resolución de pantalla recomendada: 1.024x768</li>
      <li>Para ver algunos de los contenidos, será necesario el plugin Adobe Flash</li>
      <li>Para consultar algunos de los documentos será necesario tener instalado el plugin Adobe Reader</li>
      <li>Debes tener activadas en tu navegador las opciones de Java y JavaScript</li>
      <li>Debes tener habilitadas las cookies en tu navegador</li>
    </ul>
    <p>
      No existen requisitos ni restricciones respecto al ordenador o sistema operativos empleados.
    </p>
    <h2>Contacto</h2>
    <p>
      Cualquier queja, consulta o sugerencia de mejora sobre la accesibilidad de este portal se podrá canalizar a través del formulario destinado a tal efecto de la <a routerLink="/contacto">Página de contacto</a>.
    </p>
  </div>
</div>