<div class="container">
  <h1 class="text-center my-4">Ejemplos de Bolas de Lotería</h1>

  <div class="row mb-5">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3>Euromillones</h3>
        </div>
        <div class="card-body">
          <h4>Números regulares</h4>
          <div class="lottery-balls-container">
            <app-lottery-ball-new [number]="1" game="euromillones"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="5" game="euromillones"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="17" game="euromillones"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="23" game="euromillones"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="42" game="euromillones"></app-lottery-ball-new>
          </div>

          <h4 class="mt-4">Estrellas</h4>
          <div class="lottery-balls-container">
            <app-lottery-ball-new [number]="2" game="euromillones" type="star"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="5" game="euromillones" type="star"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="9" game="euromillones" type="star"></app-lottery-ball-new>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h3>Primitiva</h3>
        </div>
        <div class="card-body">
          <div class="lottery-balls-container">
            <app-lottery-ball-new [number]="3" game="primitiva"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="7" game="primitiva"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="12" game="primitiva"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="24" game="primitiva"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="36" game="primitiva"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="49" game="primitiva"></app-lottery-ball-new>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-danger text-white">
          <h3>Bonoloto</h3>
        </div>
        <div class="card-body">
          <div class="lottery-balls-container">
            <app-lottery-ball-new [number]="4" game="bonoloto"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="8" game="bonoloto"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="15" game="bonoloto"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="27" game="bonoloto"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="32" game="bonoloto"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="41" game="bonoloto"></app-lottery-ball-new>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-warning text-dark">
          <h3>El Gordo de la Primitiva</h3>
        </div>
        <div class="card-body">
          <div class="lottery-balls-container">
            <app-lottery-ball-new [number]="5" game="gordo"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="10" game="gordo"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="22" game="gordo"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="35" game="gordo"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="47" game="gordo"></app-lottery-ball-new>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="background-color: #662d91; color: white;">
          <h3>EuroDreams</h3>
        </div>
        <div class="card-body">
          <h4>Números regulares</h4>
          <div class="lottery-balls-container">
            <app-lottery-ball-new [number]="6" game="eurodreams"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="13" game="eurodreams"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="19" game="eurodreams"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="28" game="eurodreams"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="33" game="eurodreams"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="40" game="eurodreams"></app-lottery-ball-new>
          </div>

          <h4 class="mt-4">Dreams</h4>
          <div class="lottery-balls-container">
            <app-lottery-ball-new [number]="1" game="eurodreams" type="dream"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="3" game="eurodreams" type="dream"></app-lottery-ball-new>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h3>Lototurf</h3>
        </div>
        <div class="card-body">
          <div class="lottery-balls-container">
            <app-lottery-ball-new [number]="2" game="lototurf"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="9" game="lototurf"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="14" game="lototurf"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="21" game="lototurf"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="25" game="lototurf"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="31" game="lototurf"></app-lottery-ball-new>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="background-color: #c6a023; color: white;">
          <h3>Lotería Nacional</h3>
        </div>
        <div class="card-body">
          <div class="lottery-balls-container">
            <app-lottery-ball-new [number]="00123" game="loteria-nacional"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="45678" game="loteria-nacional"></app-lottery-ball-new>
            <app-lottery-ball-new [number]="98765" game="loteria-nacional"></app-lottery-ball-new>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <a routerLink="/euromillon" class="btn btn-primary">Ver página de Euromillones</a>
    </div>
  </div>
</div>
